.reveal .title-slide h1 {
  font-size: 1.5em !important;
}
.reveal section p,
.reveal section li {
  font-size: 1.0em;
}

/* Code */
.reveal pre code {
  font-size: 0.9em;
}

.compact {
  font-size: 0.7em
}

.compact p,
.compact ul li,
.compact ol li {
  margin-bottom: 0.2em;
}

.compact .math.display {
  margin: 0.3em 0;
}
